<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/share/16zLgoEB1E/?mibextid=qi2Omg"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/asmi_decors?igsh=Y3p1MnA5anB5NDBq"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="f-info-links">
            <a href="/about#contact-section"><b>Contact Us</b></a>
            <a href="/about"><b>About Us</b></a>
        </div>
        <div class="f-info-brand">
            <p>&copy; <%= new Date().getFullYear() %> AsmiDecors. All rights reserved</p>
            <p class="dev-credits">Designed & Developed by 
                <a href="https://www.linkedin.com/in/gaurav-dixit-3b0164229/" class="dev-link" target="_blank" rel="noopener noreferrer">Gaurav Dixit</a> &amp; 
                <a href="https://www.linkedin.com/in/aakanshachavan/" class="dev-link" target="_blank" rel="noopener noreferrer">Aakansha Chavan</a>
            </p>
         </div>
        
        <p class="watermark">ASMI DECORS</p>
    </div>
</footer>