body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 5.5rem;
}

.container{
    flex: 1;
}

/* Navbar */

.navbar{
    height: 4rem;
    background: linear-gradient(to right, #a05f2c, #e0b989);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.navbar-logo {
    height: 50px;
    border-radius: 6px;
}

.navbar .brand-name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 12px;
  color: #fff;
  animation: fadeInUp 1s ease-in-out;
}



.fa-compass{
    color: #fe424d;
    font-size: 2rem ;
}

.nav-link{
    color: #444 !important;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

/* Footer */
.f-info-links a{
    color: #eee;
    text-decoration: none;
    margin: 0 1rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-brand p{
    color: #eee;
}

.f-info-socials a {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #eee;
    transition: transform 0.3s ease;
}

.f-info {
    text-align: center;
    height: 12rem;
    background:linear-gradient(to right, #a05f2c, #e0b989);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    gap:10px;
}

.watermark {
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.08);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


/* show page */
.show-img{
    height: 80vh;
}

.btns{
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

