<% layout("/layouts/boilerplate.ejs") %>

<% 
    title = 'AsmiDecors - Home Page'; // Customize title per page
    pageCSS = ['homepage']; // Add CSS filenames (without .css)
    
%>


<h2>Ganpati Bappa Morya!</h2>
<a href="/decorations">See decorations</a>